.topbar {
  background-color: #333;
  padding: 20px;
  display: flex;
  //position: sticky;
}

.rightbar {
  flex: 80%;
}

.rightbar a {
  padding: 14px 20px;
  color: white;
  text-decoration: none;

}

/* .rightbar a:hover {
  background-color: gray;
} */

.leftbar {
  flex: 20%;
  color: white;
  text-decoration: none;
}

.leftbar a {
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}

/* .leftbar a:hover {
  background-color: gray;
} */
.barnews {
  display: flex;
  padding: 20px;
}
.barnews_left {
  flex: 33%;
  padding-left: 100px;
}

.barnews_main {
  flex: 33%;
}
.barnews_right {
  flex: 33%;
  padding-top: 20px;
  padding-right: 100px;
}

/* .barnews_right input {
  padding-bottom: 20px;
} */

.items {
  padding-left: 100px;
  padding-right: 100px;
}

.items a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.items a span {
  text-align: center;
  padding-right: 20px;
  border-right: solid 2px #f5f5f5;

}
.line {
  padding-left: 100px;
  padding-right: 100px;
}

.fakeimg {
  width: 1005;
  background-color: #aaa;
  padding: 20px;
}

.news {
  display: flex;
}

.news_left {
  flex: 33%;
  padding-left: 100px;
}

.news_main {
  flex: 30%;
  padding: 20px;
}

.news_right {
  flex: 30%;
  padding-top: 20px;
  padding-right: 100px;
}

.footer {

  background-color: #333;
  color: white;
  padding: 50px;
}

.footer a {
  text-align: center;
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.footer p {
  padding: 10px;
  font-family: "Times New Roman", Times, serif;

}
@media (max-width: 700px) {
  .barnews, .topbar, .news, .rightbar, .leftbar {
    flex-direction: column;
  }
}
